{% extends 'layouts/master.html' %}
{% block body %}
<script src="https://use.fontawesome.com/b780aadc2d.js"></script>
<div class="container fully">
    <div class="wrapper">
        <div class="divider"></div>
    </div>

    <!--START HEADER -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="title-link" href="">
                        <span class="poiret">text</span>
                        <span class="raleway font-heavy"><strong>Builder</strong></span>
                        <span class="raleway font-small">v1.7</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right raleway font-small">
                        <li><div id="saveFileEvent" class="nav-link style-link">saved files</div></li>
                        <li><div id="aboutEvent" class="nav-link style-link">about</div></li>
                        <li><div id="logoutEvent" class="nav-link style-link"><a href="{{ url_for('index') }}" class="style-link">logout</a></div></li>
                    </ul>
                </div>
            </div>
    </header>
    <!--END header -->


    <!--START wrapper-->
    <div id="content-wrap">

        <!--START ex. ABOUT -->
        <div id="aboutBox" class="boxes">
            <i class="fa fa-times closeBox" aria-hidden="true"></i>
            <div class="box-content">
                <div class="box-content box-content-grow">
                    <div class="col-vert">
                        <p class="raleway font-small sub-heading">learn languages</p>
                        <p>Build memory and knowledge of collocations and more things here... </p>
                    </div>
                    <div class="col-vert">
                        <p class="raleway font-small sub-heading">build relationships</p>
                        <p>Think about how texts are put together by focusing on nouns and their prepositions.</p>
                    </div>
                    <div class="col-vert">
                        <p class="raleway font-small sub-heading">practice for exams</p>
                        <p>Build your own texts to practice Use of English part 2.</p>
                    </div>
                </div>
                <div class="col-bottom-right">
                    <span class="raleway font-small">an open source project</span>
                    <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <!--END about -->

        <!--START ex. savedfiles -->
        <div id="savedFiles" class="boxes">
            <i class="fa fa-times closeBox" aria-hidden="true"></i>
            <div class="box-content box-content-grow">
                <div class="col-vert">
                    {% if user_texts %}
                    <p class="raleway font-small sub-heading">saved files</p>
                        <ol class="raleway font-small">
                    {% for text in user_texts %}
                            <li><a href="">{{ text.title }}</a></li>
                    {% endfor %}
                        </ol>
                    {% else %}
                    <p class="raleway font-small sub-heading">no saved files</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--END toolbox -->


        <!--START 1. INPUT -->
        <div id="holdsForm" class="form-group">
            <p class="raleway font-small sub-heading">Add your text (10 - 250 words)</p>
            <textarea id="textArea"></textarea>
            <form class="form-inline">
                <select form="setLevel" class="form-control mySelect raleway font-small flex-btn" id="setLevel" name="level">
                    <option value="easy">easy</option>
                    <option value="intermediate">intermediate</option>
                    <option value="hard">hard</option>
                </select>
            </form>
            <button class="btn btn-default flex-btn" id="submitBtn">Submit</button>
            <span id="errorMessage">You must add a text of between 10 and 200 words.</span>
        </div><!--END 1 INPUT -->

        <!--START 2. EX -->
        <div class="container" id="clozeEx">
            <p class="raleway font-small sub-heading">Complete the gaps</p>
            <div id="holdsGaps"></div>
            <button class="btn btn-default flex-btn" id="submitBtn2">Compare against original</button>
        </div>
        <!--END 2. EX -->


        <!--START 3. ANS -->
        <div class="container" id="clozeAns">
            <p class="raleway font-small sub-heading">Check your answers</p>
            <div id="holdsAns"></div>
            <div id="analysis"></div><br>
            <button class="btn btn-default flex-btn" id="submitBtn5">Repeat exercise</button>
            <button class="btn btn-default flex-btn" id="submitBtn3">New exercise</button>
            <a href=""><button class="btn btn-default flex-btn disabled">Save exercise</button></a>
        </div>
        <!--END 3. ANS -->

    </div>

</div><!--END WRAPPER -->

<!--START FOOTER
<div class="container">
     <div class="wrapper">
         <div class="divider-footer">
            <div class="right-foot raleway font-small">You are logged in as cjkellett</div>
        </div>
    </div>
</div>END FOOTER-->
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/logged-in.js') }}"></script>
{% endblock %}
