{% extends 'layouts/master.html' %}
{% block header %}
    <!--START ex. savedfiles -->
    <div id="savedFiles" class="boxes">
        <i class="fa fa-times closeBox" aria-hidden="true"></i>
        <div class="box-content box-content-grow">
            <div class="col-vert">
                {% if user_texts %}
                <p class="raleway font-small sub-heading">saved files</p>
                    <ol class="raleway font-lighter">
                {% for text in user_texts %}
                        <li><a href="">{{ text.title }}</a></li>
                {% endfor %}
                    </ol>
                {% else %}
                <p class="raleway font-small sub-heading">no saved files</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!--END savedfiles -->
{% endblock %}

{% block body %}
        <!--START 3. ANS -->
        <div class="container" id="clozeAns">
            <p class="raleway font-small sub-heading">Check your answers</p>
            <div id="holdsAns"></div>
            <div id="analysis"></div><br>
            <div class="btn-container">
                <button class="btn btn-default flex-btn" id="submitBtn5">Repeat exercise</button>
                <button class="btn btn-default flex-btn" id="submitBtn3">New exercise</button>
                <button class="btn btn-default flex-btn" id="submitBtn4">Save exercise</button>
                <div id="addTitle" class="titlebox">
                    <div class="btn-wrapper">
                        <form method="post" name="savetext">
                            {{ text_form.csrf_token }}
                            {{ text_form.user_text (id="textAreaHidden", class="textArea") }}
                            {{ text_form.title.label (class="raleway font-small") }}: {{ text_form.title(class="loginForm", maxlength="32") }}
                            {{ text_form.save (value="Save text", class="btn btn-default") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--END 3. ANS -->
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/logged-in.js') }}"></script>
{% endblock %}
